- validate_path = url_for(controller: "users", action: "validate_email")
%h1 edit
= form_for @user, :html => { :id => "edit-form", "data-validate-email" => validate_path} do |f|
  = f.label :first_name
  = f.text_field :first_name
  = f.label :last_name
  = f.text_field :last_name
  = f.label :email
  = f.text_field :email
  = f.submit "Save"
