.user-profile
  - if @user.avatar.url.present?
    = image_tag @user.avatar.url, {width: "120px"}
  - if @user.first_name.present?
    %div Firstname:
    %h2= @user.first_name
  - if @user.last_name.present?
    %div Lastname:
    %h2= @user.last_name
  .user-email Email:
  %h3= @user.email
  .created Created:
  %div= date_format(@user.created_at)
  %br
  = link_to 'Edit', edit_user_url(@user)
  |
  = link_to 'Back', users_path
