= form_for :session, :url => url_for(controller: '/session', action: :create, format: :json), :html => { :id => "login-form"} do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  %br
  %br
  = f.submit "Login"
  %br
  %br
  %span Or you can sign up
  = link_to 'Sign up', new_user_path
