= form_for :user, :url => url_for(controller: :login, action: :sign_up, format: :json), :html => { :id => "registration-form"} do |f|
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirm
  = f.password_field :password_confirm
  %br
  %br
  = f.submit "Sign up"
